{% extends 'temp_home/base.html' %}
{% block title %} Product detail {% endblock title %}

        {% block content %} 
        
        <div class="slider-area ">
            <div class="slider-active ">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        
                            <div class="swiper-slide">
                                <!-- Single Slider -->
                                <div class="single-slider slider-height d-flex align-items-center slide-bg" style="background-color: #ffffff;">

                                    <div class="container">
                                        <div class="row justify-content-between align-items-center">
                                            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                                                <div class="hero__caption">
                                                    <h1 data-animation="fadeInLeft" data-delay=".4s" data-duration="2000ms" >{{ product.product_name }}</h1>
                                                    <p data-animation="fadeInLeft" data-delay=".7s" data-duration="2000ms" >Author: {{ product.author }}</p>
                                                    <!-- Hero-btn -->
                                                    <div class="d-flex">
                                                        <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s" data-duration="2000ms">
                                                            <a href="{% url 'add_cart' product.id %}" class="btn hero-btn text-white">Add TO Cart</a>
                                                        </div>
                                                        <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s" data-duration="2000ms">
                                                            <a href="industries.html" class="btn hero-btn text-white">Wish List</a>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 d-none d-sm-block">
                                                <div class="hero__img" data-animation="bounceIn" data-delay=".4s">
                                                    <img src="{{ product.images.url }}" alt="" class=" heartbeat">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                    </div>
            </div>
        </div>
        <div class="section-top-border">
            <h3 class="mb-30">Description</h3>
            <div class="row">
                <div class="col-md-3">
                    <img src="{{ product.author.author_image.url }}" alt="" class="img-fluid">
                </div>
                <div class="col-md-9 mt-sm-20">
                    <p>{{ product.product_description }}</p>
                </div>
            </div>
        </div>

        <h4></h4>
        <div class="comments-area">
            <div class="comment-list">
               <div class="single-comment justify-content-between d-flex">
                  <div class="user justify-content-between d-flex">
                     <div class="thumb">
                        <img src="/static/assets/img/comment/comment_1.png" alt="">
                     </div>
                     <div class="desc">
                        <h5>Emily</h5>
                        <p class="comment">
                           Multiply sea night grass fourth day sea lesser rule open subdue female fill which them
                           Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                        </p>
                        <div class="d-flex justify-content-between">
                           <div class="d-flex align-items-center">
                              <h5>
                                 <a href="#">Emilly Blunt</a>
                              </h5>
                              <p class="date">December 4, 2017 at 3:12 pm </p>
                           </div>
                           <div class="reply-btn">
                              <a href="#" class="btn-reply text-uppercase">reply</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="comment-list">
               <div class="single-comment justify-content-between d-flex">
                  <div class="user justify-content-between d-flex">
                     <div class="thumb">
                        <img src="/static/assets/img/comment/comment_2.png" alt="">
                     </div>
                     <div class="desc">
                        <p class="comment">
                           Multiply sea night grass fourth day sea lesser rule open subdue female fill which them
                           Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                        </p>
                        <div class="d-flex justify-content-between">
                           <div class="d-flex align-items-center">
                              <h5>
                                 <a href="#">Emilly Blunt</a>
                              </h5>
                              <p class="date">December 4, 2017 at 3:12 pm </p>
                           </div>
                           <div class="reply-btn">
                              <a href="#" class="btn-reply text-uppercase">reply</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="comment-list">
               <div class="single-comment justify-content-between d-flex">
                  <div class="user justify-content-between d-flex">
                     <div class="thumb">
                        <img src="/static/assets/img/comment/comment_3.png" alt="">
                     </div>
                     <div class="desc">
                        <p class="comment">
                           Multiply sea night grass fourth day sea lesser rule open subdue female fill which them
                           Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                        </p>
                        <div class="d-flex justify-content-between">
                           <div class="d-flex align-items-center">
                              <h5>
                                 <a href="#">Emilly Blunt</a>
                              </h5>
                              <p class="date">December 4, 2017 at 3:12 pm </p>
                           </div>
                           <div class="reply-btn">
                              <a href="#" class="btn-reply text-uppercase">reply</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>

      
        <!-- Watch Choice  End-->
        {% endblock content %}
        